<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="assets/img/logo.jpg" type="image/x-icon">

    <!--=============== REMIXICON ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../assets/css/styles.css">

    <title>Technova</title>
</head>
<body>
    <header class="header" id="header">
        <nav class="nav container">
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="../components/Home.html" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="../components/About.html" class="nav__link">About</a>
                    </li>
                    <li class="nav__item">
                        <a href="../components/Modules.html" class="nav__link">Modules</a>
                    </li>
                    <li class="nav__item">
                        <a href="../components/Register.html" class="nav__link">Register</a>
                    </li>
                    <li class="nav__item">
                        <a href="../components/Sponsors.html" class="nav__link">Sponsor</a>
                    </li>
                    <a href="#" class="nav__logo">
                        <img src="../assets/img/logo.jpg" alt="logo">
                    </a>    
                    <!-- <div class="nav__link">
                        <a href="#pricing" class="button nav__button">Register Now</a>
                    </div> -->
                </ul>
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
            <!-- Toggle button -->
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </nav>
    </header>