<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="assets/img/technovapng.png" type="image/x-icon">

    <!--=============== REMIXICON ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../assets/css/styles.css">

    <title>Technova</title>
</head>

<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="../components/Home.html" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="../components/Modules.html" class="nav__link">Modules</a>
                    </li>
                    <li class="nav__item">
                        <a href="../components/Register.html" class="nav__link">Register</a>
                    </li>
                    <li class="nav__item">
                        <a href="../components/About.html" class="nav__link">About</a>
                    </li>
                    <li class="nav__item">
                        <a href="../components/Sponsors.html" class="nav__link">Sponsor</a>
                    </li>
                    <a href="#" class="nav__logo">
                        <img src="../assets/img/technovapng.png" alt="logo">
                    </a>    
                </ul>
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
            <!-- Toggle button -->
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== HOME ====================-->
        <!-- <section class="home section" id="home">
            <div class="home__container container grid">
                <div class="home__data">
                    <h2 class="home__subtitle">Welcome to</h2>
                    <h1 class="home__title">TECHNOVA</h1>
                    <p class="home__description">
                        A dynamic tech competition platform where innovators showcase their skills in coding, robotics, AI, and emerging technologies.
                    </p>
                    <a href="#" class="button button__flex">
                        Get Started <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
                <div class="home__images">
                    <img src="assets/img/Main.jpeg" alt="homeimage" class="home__img">
                    <div class="home__triangle home__triangle-3"></div>
                    <div class="home__triangle home__triangle-2"></div>
                    <div class="home__triangle home__triangle-1"></div>
                </div>
            </div>
        </section> -->

        <!--==================== LOGOS ====================-->
        <section class="logos section">
            <div class="logos__container container grid">
                <img src="assets/img/IOBM-.png" alt="logo image" class="logos__img">
                <img src="assets/img/ccsis-logo.png" alt="logo image" class="logos__img">
                <img src="assets/img/IEEESTDBRNCH-.png" alt="logo image" class="logos__img">
            </div>
        </section>

        <!--==================== PROGRAM ====================-->
        <section class="program section" id="program">
            <div class="container">
                <div class="section__data">
                    <!-- <h2 class="section__subtitle">Competition Modules</h2> -->
                    <div class="section__titles">
                        <h1 class="section__title-border">COMPETITION</h1>
                        <h1 class="section__title">MODULES</h1>
                    </div>
                </div>
                <div class="program__container grid">

                    <article class="program__card">
                        <div class="program__shape">
                            <img src="assets/img/fyplogo.png" alt="program image" class="program__img">
                        </div>
                        <h3 class="program__title">Final Year Project Competition</h3>
                        <p class="program__description">
                            A showcase of innovative final-year projects where students compete by presenting their groundbreaking ideas and technical solutions.
                        </p>
                        <a href="#" class="program__button"><i class="ri-arrow-right-line"></i></a>
                    </article>

                    <article class="program__card">
                        <div class="program__shape">
                            <img src="assets/img/PElogo.png" alt="program image" class="program__img">
                        </div>
                        <h3 class="program__title">Prompt Engineering</h3>
                        <p class="program__description">
                            A competition where participants craft effective AI prompts to generate optimal and creative responses.
                        </p>
                        <a href="#" class="program__button"><i class="ri-arrow-right-line"></i></a>
                    </article>

                    <article class="program__card">
                        <div class="program__shape">
                            <img src="assets/img/SPlogo.png" alt="program image" class="program__img">
                        </div>
                        <h3 class="program__title">Speed Programming</h3>
                        <p class="program__description">
                            A fast-paced coding competition where participants solve programming challenges within a time limit.
                        </p>
                        <a href="#" class="program__button"><i class="ri-arrow-right-line"></i></a>
                    </article>

                    <article class="program__card">
                        <div class="program__shape">
                            <img src="assets/img/Startup0.png" alt="program image" class="program__img">
                        </div>
                        <h3 class="program__title">Start-up Launchpad</h3>
                        <p class="program__description">
                            A competition where aspiring entrepreneurs pitch and showcase their startup ideas for potential investment and growth.
                        </p>
                        <a href="#" class="program__button"><i class="ri-arrow-right-line"></i></a>
                    </article>
                    <article class="program__card">
                        <div class="program__shape">
                            <img src="assets/img/MathsMania.png" alt="program image" class="program__img">
                        </div>
                        <h3 class="program__title">Maths Mania</h3>
                        <p class="program__description">
                            A thrilling math competition where participants solve challenging problems to test their speed and accuracy.
                        </p>
                        <a href="#" class="program__button"><i class="ri-arrow-right-line"></i></a>
                    </article>
                    <article class="program__card">
                        <div class="program__shape">
                            <img src="assets/img/esports.png" alt="program image" class="program__img">
                        </div>
                        <h3 class="program__title">E-Sports</h3>
                        <p class="program__description">
                            A competitive gaming event where players and teams battle in various esports titles for glory and prizes.
                        </p>
                        <a href="#" class="program__button"><i class="ri-arrow-right-line"></i></a>
                    </article>

                </div>
            </div>
        </section>

        <!--==================== PRICING ====================-->
        <section class="pricing section" id="pricing">
            <div class="container">
                <div class="section__data">
                    <!-- <h2 class="section__subtitle">Best Reason</h2> -->
                    <div class="section__titles">
                        <h1 class="section__title-border">MODULES</h1>
                        <h1 class="section__title">REGISTRATION FEES</h1>
                    </div>
                </div>

                <div class="pricing__container container grid">

                    <article class="pricing__card">
                        <header class="pricing__header">
                            <div class="pricing__shape">
                                <img src="assets/img/SPlogo.png" alt="pricing image" class="pricing__img">
                            </div>
                            <h1 class="pricing__title">Final Year Project Showcase</h1>
                            <h2 class="pricing__number">Rs: 1500/-</h2>
                        </header>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSew1jSecKSqjQmpqB5giOpOjyOI-e2L_AXjxLGqUchlJ4BhRQ/viewform" class="button button__flex pricing__button">
                            Register Now <i class="ri-arrow-right-line"></i>
                        </a>
                    </article>
                    <article class="pricing__card">
                        <header class="pricing__header">
                            <div class="pricing__shape">
                                <img src="assets/img/PElogo.png" alt="pricing image" class="pricing__img">
                            </div>
                            <h1 class="pricing__title">Prompt Engineering</h1>
                            <h2 class="pricing__number">Rs: 1500/-</h2>
                        </header>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSew1jSecKSqjQmpqB5giOpOjyOI-e2L_AXjxLGqUchlJ4BhRQ/viewform" class="button button__flex pricing__button">
                            Register Now <i class="ri-arrow-right-line"></i>
                        </a>
                    </article>

                    <article class="pricing__card">
                        <header class="pricing__header">
                            <div class="pricing__shape">
                                <img src="assets/img/SPlogo.png" alt="pricing image" class="pricing__img">
                            </div>
                            <h1 class="pricing__title">Speed programming</h1>
                            <h2 class="pricing__number">Rs: 1500/-</h2>
                        </header>
                        
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSew1jSecKSqjQmpqB5giOpOjyOI-e2L_AXjxLGqUchlJ4BhRQ/viewform" class="button button__flex pricing__button">
                            Register Now <i class="ri-arrow-right-line"></i>
                        </a>
                    </article>
                    
                    <article class="pricing__card">
                        <header class="pricing__header">
                            <div class="pricing__shape">
                                <img src="assets/img/Startup0.png" alt="pricing image" class="pricing__img">
                            </div>
                            <h1 class="pricing__title">Start-up Launchpad</h1>
                            <h2 class="pricing__number">Rs: 1500/-</h2>
                        </header>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSew1jSecKSqjQmpqB5giOpOjyOI-e2L_AXjxLGqUchlJ4BhRQ/viewform" class="button button__flex pricing__button">
                            Register Now <i class="ri-arrow-right-line"></i>
                        </a>
                    </article>
                    
                    <article class="pricing__card">
                        <header class="pricing__header">
                            <div class="pricing__shape">
                                <img src="assets/img/MathsMania.png" alt="pricing image" class="pricing__img">
                            </div>
                            <h1 class="pricing__title">Maths Mania</h1>
                            <h2 class="pricing__number">Rs: 1500/-</h2>
                        </header>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSew1jSecKSqjQmpqB5giOpOjyOI-e2L_AXjxLGqUchlJ4BhRQ/viewform" class="button button__flex pricing__button">
                            Register Now <i class="ri-arrow-right-line"></i>
                        </a>
                    </article>
                    
                    <article class="pricing__card">
                        <header class="pricing__header">
                            <div class="pricing__shape">
                                <img src="assets/img/esports.png" alt="pricing image" class="pricing__img">
                            </div>
                            <h1 class="pricing__title">E-Sports</h1>
                            <h2 class="pricing__number">Rs: 1500/-</h2>
                        </header>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSew1jSecKSqjQmpqB5giOpOjyOI-e2L_AXjxLGqUchlJ4BhRQ/viewform" class="button button__flex pricing__button">
                            Register Now <i class="ri-arrow-right-line"></i>
                        </a>
                    </article>
                </div>
            </div>
        </section>
    </main>

    <!--==================== FOOTER ====================-->
    <!-- <footer class="footer section" id="footer">
        <div class="footer__container container grid">
            <div>
                <a href="#" class="footer__logo">
                    <img src="assets/img/technovapng.png" alt="footer logo"> Technova
                </a>
                <p class="footer__description">
                    For more info <br> contact us. .
                </p>
                <form action="" class="footer__form" id="contact-form">
                    <input type="email" name="user-email" placeholder="Your Email" class="footer__input"
                        id="contact-user">
                    <button type="submit" class="button">
                        Contact Us
                    </button>
                </form>
                <p class="footer__message" id="contact-message"></p>
            </div>
            <div class="footer__content"> -->

                <!-- <div>
                    <h3 class="footer__title">SERVICES</h3>
                    <ul class="footer__links">
                        <li>
                            <a href="#" class="footer__link">Flex Muscle</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Cardio Exercise</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Basic Yoga</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Weight Lifting</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">PRICING</h3>
                    <ul class="footer__links">
                        <li>
                            <a href="#" class="footer__link">Basic</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Premium</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Diamond</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">COMPANY</h3>
                    <ul class="footer__links">
                        <li>
                            <a href="#" class="footer__link">About Us</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Careers</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Customers</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Partners</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div> -->
        <div class="container">
            <div class="footer__group">
                <ul class="footer__social">
                    <a href="https://www.facebook.com/TechNova.iobm" target="_blank" class="footer__social-link">
                        <i class="ri-facebook-circle-fill"></i>
                    </a>
                    <!-- <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                        <i class="ri-twitter-fill"></i>
                    </a> -->
                    <a href="https://www.instagram.com/technova_iobm_" target="_blank" class="footer__social-link">
                        <i class="ri-instagram-line"></i>
                    </a>
                </ul>
                <!-- <span class="footer__copy">&#169; Copyright Bedimcode. All rights reserved</span> -->
            </div>
        </div>
    </footer>

    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-line"></i>
    </a>

    <!--=============== SCROLLREVEAL ===============-->
    <!-- <script src="/assets/js/scrollreveal.min.js"></script> -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--=============== EMAIL JS ===============-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="assets/js/main.js"></script>
</body>

</html>